# La suite de Syracuse
## Définition
Les suites de Syracuse sont définies par un premier terme $u_0$ et la relation de récurrence :

$$u_{n+1} = \left\{
                \begin{array}{ll}
                  \dfrac{u_n}2 \text{ si } u_n \text{ est pair,}\\
                  3u_n + 1 \text{ sinon }
                \end{array}
              \right.$$

In [2]:
def suivant(u):
    if u%2 == 0:
        return u//2
    else:
        return 3 * u + 1

liste_u = []
u = 121# un exemple de premier terme
for i in range(100):
    liste_u.append(u)
    u = suivant(u)
print(liste_u)

[121, 364, 182, 91, 274, 137, 412, 206, 103, 310, 155, 466, 233, 700, 350, 175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167, 502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479, 1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734, 1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433, 1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1, 4, 2, 1, 4]

On constate que la suite boucle avec $[4, 2, 1]$.

On pourrait faire le même constat avec d'autres valeurs de départ ; même si aucune preuve n'a été trouvée !

On définit alors le temps de vol comme la longueur de la suite jusqu'à la première valeur de $1$, et l'altitude maximale comme la valeur maximale atteinte par la suite.

In [4]:
def suite(u_0):
    liste_u = []
    u_n = u_0
    while u_n != 1:
        liste_u.append(u_n)
        u_n = suivant(u_n)
    liste_u.append(u_n)
    return liste_u

u_0 = 12321 # Exemple de terme initial
liste_u = suite(u_0)
print("Le temps de vol est :", len(liste_u))
print("L'altitude maximale est", max(liste_u))

Le temps de vol est : 157
L'altitude maximale est 36964

In [5]:
t_vol_max = 0
alt_max = 0
for u_0 in range(1, 10000):
    liste_u = suite(u_0)
    t_vol = len(liste_u)
    alt = max(liste_u)
    if t_vol > t_vol_max:
        t_vol_max = t_vol
        print("nouveau record : temps de vol", t_vol, "pour u_0 =", u_0)
    if alt > alt_max:
        alt_max = alt
        print("nouveau record : altitude", alt, "pour u_0 =", u_0)

nouveau record : temps de vol 1 pour u_0 = 1
nouveau record : altitude 1 pour u_0 = 1
nouveau record : temps de vol 2 pour u_0 = 2
nouveau record : altitude 2 pour u_0 = 2
nouveau record : temps de vol 8 pour u_0 = 3
nouveau record : altitude 16 pour u_0 = 3
nouveau record : temps de vol 9 pour u_0 = 6
nouveau record : temps de vol 17 pour u_0 = 7
nouveau record : altitude 52 pour u_0 = 7
nouveau record : temps de vol 20 pour u_0 = 9
nouveau record : altitude 160 pour u_0 = 15
nouveau record : temps de vol 21 pour u_0 = 18
nouveau record : temps de vol 24 pour u_0 = 25
nouveau record : temps de vol 112 pour u_0 = 27
nouveau record : altitude 9232 pour u_0 = 27
nouveau record : temps de vol 113 pour u_0 = 54
nouveau record : temps de vol 116 pour u_0 = 73
nouveau record : temps de vol 119 pour u_0 = 97
nouveau record : temps de vol 122 pour u_0 = 129
nouveau record : temps de vol 125 pour u_0 = 171
nouveau record : temps de vol 128 pour u_0 = 231
nouveau record : altitude 13120 pour u_0 = 255
nouveau record : temps de vol 131 pour u_0 = 313
nouveau record : temps de vol 144 pour u_0 = 327
nouveau record : altitude 39364 pour u_0 = 447
nouveau record : altitude 41524 pour u_0 = 639
nouveau record : temps de vol 145 pour u_0 = 649
nouveau record : temps de vol 171 pour u_0 = 703
nouveau record : altitude 250504 pour u_0 = 703
nouveau record : temps de vol 179 pour u_0 = 871
nouveau record : temps de vol 182 pour u_0 = 1161
nouveau record : altitude 1276936 pour u_0 = 1819
nouveau record : temps de vol 183 pour u_0 = 2223
nouveau record : temps de vol 209 pour u_0 = 2463
nouveau record : temps de vol 217 pour u_0 = 2919
nouveau record : temps de vol 238 pour u_0 = 3711
nouveau record : altitude 6810136 pour u_0 = 4255
nouveau record : altitude 8153620 pour u_0 = 4591
nouveau record : temps de vol 262 pour u_0 = 6171
nouveau record : altitude 27114424 pour u_0 = 9663